/* Profile.css */
.profile-info {
  display: flex; /* Align profile image and details horizontally */
  align-items: center; /* Center items vertically */
  border-radius: 80px; /* Rounded corners (if you want this) */
  margin-bottom: 20px; /* Space between profile-info and the <p> tag */
  margin-top: 20px;
}

.profile-image-container {
  margin-right: 20px; /* Add space between image and name */
}

.profile-image {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  border-radius: 50%; /* Circle shape */
  object-fit: cover; /* Ensure the image covers the circle without distortion */
}

.profile-details {
  display: flex; /* Ensure profile details are aligned properly */
  flex-direction: column; /* Stack name vertically if needed */
}

.profile-name {
  font-size: 3rem;
  color: #333;
  margin-left: 1.5rem; /* Space between name and profile image */
}

.content {
  padding: 20px; /* Add some padding around the content */
}

.hello-text {
  color: #78bdbd; /* Adjust color as needed */
  font-size: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.see-more-text:hover {
  color: #0056b3;
}

.see-more-text {
  color: #78bdbd;
  margin-top: 2px;
}

.experience {
  margin: 10px 0;
}

.experience p {
  margin: 0; /* Remove default margin of paragraphs */
  padding: 1px 0; /* Add padding if needed */
}

.section-box {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px;
    max-width: 300px;          /* Set a maximum width */
  }