.box{
    padding: 20px;
}
.search{
    background: #78bdbd;
    text-align: center;
    border-radius: 8px; 
    width: 46.5%;
    float: right;
    padding: 20px;
}
.sbutton{
    background: black;
    border-radius: 8px; 
    color: white;
}
.obutton{
    background: black;
    border-radius: 8px; 
    color: white;
    font-size: 20px;
}
.organizations{
    background: rgb(211, 210, 210);
    text-align: center;
    border-radius: 8px; 
    width: 46.5%;
    float: left;
    padding: 20px;
}