/*Often used to style app components*/

#root {
  padding: 0; /* Remove padding */
  margin: 0;  /* Remove margin */
  width: 100%; /* Ensure it takes the full width of the viewport */
  height: 100%; /* Ensure it takes the full height of the viewport if needed */
}
.content {
  padding: rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* This is so that there isnt space between the nav bar and the screen*/
[data-liner-extension-version] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.paragraph {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.4; /* Adjust line height for spacing between lines */
}

.small-paragraph {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.4; /* Adjust line height for spacing between lines */
}
