/*Often used to style app components*/

#root {
  padding: 0; /* Remove padding */
  margin: 0;  /* Remove margin */
  width: 100%; /* Ensure it takes the full width of the viewport */
  height: 100vh; /* Ensure it takes the full height of the viewport if needed */
}