/*Intended for global styles that apply across the entire application*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "arial"; /*Change font of entire website by importing from google fonts*/
  }

  body {
    background-color: whitesmoke;
    overflow-x: hidden;
  }
}

@layer components {
}
