/* Navbar.css */
.navbar {
  background-color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-logo-img {
  height: 70px;
  width: auto;
  margin-right: auto;

}

.navbar-links {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 3rem;
  display: flex;               /* Ensure the icon is centered within the link */
  align-items: center;         /* Center icon vertically */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}
